<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
			<section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
		<div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>  
<% else %>
  <div class="center hero-unit">
    <h1>Microblogger</h1>

    <h2>
      This is the home page for the Microblogger sample application.
    </h2>
		<h2>
      TDD was used to build this application using RSpec and Cucumber testing frameworks. Twitter's Bootstrap was used to style the pages and other components.
    </h2>
		<h2>
      Use the system to Sign Up, use Gravatar to add a profile picture, create Microblogs, follow other Users, see your blogs and blogs of followed users on your home feed, Unfollow and edit your profile.
    </h2>
		<h2>
      The app comes pre-loaded with sample data.
    </h2>
		<h2>
      Admin user: example@example.com | password: password
    </h2>
    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>
